<div class="p-shadow-1">
  <form [formGroup]="userForm">
    <div class="p-d-flex"><h2>Register Form</h2></div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
          <label class="name">Firstname</label>
          <input class="inputname" type="text" pInputText formControlName="firstName">
      </div>
      <div class="p-field p-col-12 p-md-6">
          <label class="name">Lastname</label>
          <input class="inputname" type="text" pInputText formControlName="lastName">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label class="name">Phone Number</label>
        <input class="inputname" type="text" pInputText formControlName="phonenumber">
    </div>
    <div class="p-field p-col-12 p-md-6">
        <label class="name">Email ID</label>
        <input class="inputname" type="text" pInputText formControlName="emailid">
    </div>
    <div class="p-field p-col-12">
      <label class="title">Address:</label>
      </div>
      <div class="p-col p-md-6">
            <label class="name">City</label>
            <input class="inputname" type="text" pInputText formControlName="city">
        </div>
        <div class="p-col p-md-6">
            <label class="name">State</label>
            <p-dropdown [options]="cities" formControlName="state" optionLabel="name" ></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label class="name">Street</label>
          <input class="inputname" type="text" pInputText formControlName="Street">
      </div>
        <div class="p-field p-col-12 p-md-6">
            <label class="name">Zip</label>
            <input class="inputname" type="text" pInputText formControlName="zip">
        </div>
    <div class="p-field p-col-12">
      <label class="title">Gender:</label>
      </div>
    <div class="p-col p-md-3">
      <p-checkbox formControlName="gender"></p-checkbox>
      <label class="gender">Male</label>
  </div>
  <div class="p-col p-md-3">
      <p-checkbox formControlName="gender"></p-checkbox>
      <label class="gender">Female</label>
  </div>
  <button pButton type="button" label="Sign Up" class="p-button-secondary"></button>
      </div>
  </form>
  </div>

