.p-d-flex{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-button-secondary{
  width:100px;
  margin-left: 250px;
  background: cadetblue;
  margin-top:10px;
}


