<div class="p-grid page">
  <div class="p-col-4">
    <p-card class="color">
    <form [formGroup]="userForm">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12">
          <div class="p-text-center heading">RegisterForm</div>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Firstname</label>
          <input class="p-sm-12" type="text" pInputText formControlName="firstName" />
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Lastname</label>
          <input class="p-sm-12" type="text" pInputText formControlName="lastName" />
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Phone Number</label>
          <input class="p-sm-12" type="text" pInputText formControlName="phonenumber" />
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Email ID</label>
          <input class="p-sm-12" type="text" pInputText formControlName="emailid" />
        </div>
        <div class="p-col-12">
          <div class="p-text-left title">Address :</div>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">City</label>
          <input class="p-sm-12" type="text" pInputText formControlName="city" />
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">State</label>
          <p-autoComplete formControlName="state" [suggestions]="text" (completeMethod)="search($event)"
          field="name" [dropdown]="true"></p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Street</label>
          <input class="p-sm-12" type="text" pInputText formControlName="Street" />
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-6">
          <label class="name">Zip</label>
          <input class="p-sm-12" type="text" pInputText formControlName="zip" />
        </div>
        <div class="p-col-12">
          <div class="p-text-left title">Gender :</div>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3 p-field-checkbox">
          <p-checkbox formControlName="gender"></p-checkbox>
          <label>Male</label>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3 p-field-checkbox">
          <p-checkbox formControlName="gender"></p-checkbox>
          <label>Female</label>
        </div>
      </div>
      <button pButton type="button" label="Sign Up" class="p-button-secondary signup-btn"></button>
    </form>
    </p-card>
  </div>
</div>
