 ::ng-deep .p-toolbar{
  background-color: cadetblue;
 .logo{
    width:250px;
  }
  .icon{
    background-color: darkslategray;
    border-radius: 70px;
  }
}

.overlay{
  display:none
}
 @media (min-width: 300px) and (max-width: 767px) {
  .overlay{
     display: block;
    }
  :host ::ng-deep .p-sidebar-left{
    width:200px !important;
  }
  .logo{
    margin-left: 10px;
    width: 100px;
    height: 30px
  }
}


