::ng-deep .p-card-header{
    // width: 329px;
    height: 47.71px;
    background: #045D67;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    }
    
   
    .card{
    // width: 329px;
    input{
    margin-bottom: 10px;
    }
}