.time{
    background: #F6F8F9;
    border-radius: 5px;
    height: 109px;
    padding-top: 0px;
}
.origin{
    background: #EAECED;
    border-radius: 5px;
    height: 109px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vl{
    border-right: 2px solid lightgray;
    height: 103px;
    margin-left: 40px;
}
.tl-btn{
    background: #045D67 !important;
    border-radius: 5px;
}