    <div class="p-field-checkbox">
        <p-checkbox ></p-checkbox>
    <label> Pending   8:10 AM CST Aug 25, 2020</label>
    </div>
<div class="p-grid">
    <div class="p-col-4 p-lg-4 p-md-4 p-d-flex p-jc-between time">
        <label>Origin - US01<br>
            City, ST 000000<br>
            United States   </label>
            <div class="origin">
                <i class="pi pi-arrow-right"></i>
            </div>
    </div>
    <div class="p-col-4 p-lg-4 p-md-4 time">
        <label>Destination 8770<br>
            City, ST 00000<br>
            United States</label>
    </div>
    <div class="p-col-2 p-lg-2 p-md-2 p-d-flex">
       <div class="p-d-flex p-flex-column"> <button class="tl-btn" pButton type="button">TL, IMDL</button>
        <label>Rate Type</label>
        <label>PRM</label>
        <label>Package Name</label></div>
        <div class="vl"></div>
    </div>
    <div class="p-col-2 p-lg-2 p-md-2 p-d-flex p-flex-column">
        <label>Van & Length</label>
        <label>Container</label>
        <label>{{carrier}}</label>
    </div>
</div>
<hr>