.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table{
    width: 200px;
}
@media (min-width: 300px) and (max-width: 767px) {
    .table{
        overflow-x: visible;
    }
}