<div class="p-grid p-jc-center vertical-align">
    <div class="p-col-10 p-lg-6">
        <p-table [columns]="cols" [value]="tableValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="350px"
        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
                 [rowsPerPageOptions]="[10,25,50]">
                 <ng-template pTemplate="caption">
                    <div class="p-d-flex p-jc-start" >
                        Mock Data
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:30%">
                        <col style="width:30%">
                        <col style="width:10%">
                    </colgroup>
                </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" >
                        {{col.header}}
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" class="text">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <i class="pi pi-trash"></i>&nbsp;
                        <i class="pi pi-eye" ></i>              
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

