<div class="p-d-flex p-jc-center p-ai-center main-container">
  <div class="login-container p-text-center">
    <div class="logo-container">
      <img class="logo" width="100%" src="../../assets/logo.png"/>
    </div>
    <div class="input-container">
      <div class="p-text-center login-header">Log in to your account</div>
      <div>
        <div class="p-text-left input-label">Email ID*</div>
        <input type="text" class="input-box" pInputText />
        <div class="p-text-left input-label">Password*</div>
        <input type="password" pPassword class="input-box" />
      </div>
      <div class="login-options p-d-flex p-jc-between">
         <div class="options-label p-field-checkbox">
          <p-checkbox [(ngModel)]="checked"  inputId="binary"></p-checkbox>
          <label for="binary">Keep me signed in.</label></div>
         <div class="options-label">Forgot Password?</div>
      </div>
      <div class="p-text-center">
        <button pButton type="button" label="Log In" class="login-button"></button>
      </div>
    </div>
  </div>
</div>