.p-shadow-1{
  width:630px;
  height:450px;
  margin-left:400px;
  margin-top: 200px;
}
h2{
  margin-left: 230px;
}
.p-d-flex{
  background-color: cadetblue;
}
.name{
  margin-left:30px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: lighter;
}
.inputname{
  border:1px solid;
  width:250px;
  height:25px;
  margin-left:30px
}
.address{
  height:50px;
  width: 570px;
  margin-left:30px;
  border: 1px solid;
}
.p-button-secondary{
  margin-left: 250px;
  margin-top: 10px;
  background: cadetblue;
}
