<div class="p-grid">
    <div class="p-col-12 p-lg-12 p-md-12 p-pb-0">
        <div class="p-grid header">
            <div class="p-col-8 p-lg-11 p-md-8 headerTabs">
                <label class="my-lanes">My Lanes</label>
                <label class="active-lanes">All Active Lanes </label>
            </div>
            <div class="p-col-4 p-lg-1 p-md-4 name">
                <label>Aaron Williams</label>
                <i class="pi pi-align-justify"></i>
            </div>
        </div>
        <div class="p-grid tabs">
            <div class="p-col-12 p-lg-9 p-md-12">
                <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
            </div>
            <div class="p-col-12 p-lg-2 p-md-12">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText />
                </span>
            </div>
            <div class="p-col-12 p-lg-1 p-md-12">
                <button pButton class="upload-btn" type="button"><i
                        class="pi pi-arrow-circle-up"></i>&nbsp;&nbsp;Upload</button>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-md-12 main-content">
        <div class="p-grid">
            <div class="p-col-12 p-lg-3 p-md-12 p-pr-3 p-pl-5 filter">
                <app-filter></app-filter>
            </div>
            <div class="p-col-12 p-lg-9 p-md-12 p-pr-6 p-pl-6">
                <div class="p-grid ">
                    <div class="p-col-12 p-lg-12 p-md-12 p-d-flex p-flex-column">
                        <label>Sort</label>
                        <p-dropdown ></p-dropdown>
                    </div>
                    <div class="p-col-12 p-lg-12 p-md-12 p-d-flex p-jc-between">
                        <div class="p-field-checkbox">
                            <p-checkbox ></p-checkbox>
                            <label for="binary">Showing 1-3 of 3 results</label>
                        </div>
                        <button pButton type="button" class="export-btn"><i
                            class="pi pi-arrow-circle-up"></i>&nbsp;&nbsp;Export</button>
                    </div>
                    <hr>        
                    <div class="p-col-12 p-lg-12 p-md-12">
                       <app-pending-info time=" Pending   8:10 AM CST Aug 25, 2020" carrier="Primary Carrier" ></app-pending-info>
                    </div>
                    <div class="p-col-12 p-lg-12 p-md-12">
                        <app-pending-info time=" Pending   8:10 AM CST Aug 25, 2020" carrier="Primary Carrier" ></app-pending-info>
                    </div>
                    <div class="p-col-12 p-lg-12 p-md-12">
                        <app-pending-info time=" Pending   7:40 AM CST Aug 25, 2020" carrier="Carrier ABC" ></app-pending-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>