<div class="p-grid p-flex-column align-center">
    <div class="p-col-10 p-lg-5 p-md-10">
        <div class="p-grid">
            <div class="p-col-12 p-lg-12 p-md-12 header">
                <h3>Hey Aaron! Where would you like to begin?</h3>
            </div>
            <div class="p-col-12 p-lg-6 p-md-12">
                <div class="p-d-flex p-flex-column pending">
                    <div class="p-d-flex p-jc-between rate">
                        <h1>3</h1>
                        <img src="../assets/pending.png">
                    </div>
                    <p>Carrier Rates Pending Approval</p>
                </div>
            </div>
            <div class="p-col-12 p-lg-6 p-md-12">
                <div class="p-d-flex p-flex-column pending">
                    <div class="p-d-flex p-jc-between rate">
                        <h1>250</h1>
                        <img src="../assets/approved.png">
                    </div>
                    <p>Approved Carrier Rates </p>
                </div>
            </div>

            <div class="p-col-12 p-lg-6 p-md-12">
                <div class="p-d-flex p-flex-column pending">
                    <div class="p-d-flex p-jc-between rate">
                        <h1>4</h1>
                        <img src="../assets/disputes.png">
                    </div>
                    <p>Carrier Rates in Disputes</p>
                </div>
            </div>
                <div class="p-col-12 p-lg-6 p-md-12">
                    <div class="p-d-flex p-flex-column pending">
                        <div class="p-d-flex p-jc-between rate">
                            <h1>500</h1>
                            <img src="../assets/lanes.png">
                        </div>
                        <p>All My Lanes</p>
                    </div>
                </div>
        </div>
    </div>
</div>