<div class="p-grid p-flex-column align-center">
    <div class="p-col-10 p-lg-5 p-md-10">
        <div class="p-grid">
            <div class="p-col-12 p-lg-12 p-md-12 header">
                <h3>Hey Aaron! Where would you like to begin?</h3>
            </div>
            <div class="p-col-12 p-lg-6 p-md-12">
                <app-lanes-child image="pending.png" header="3" text="Carrier Rates Pending Approval"></app-lanes-child>
            </div>
            <div class="p-col-12 p-lg-6 p-md-12">
                <app-lanes-child image="approved.png" header="250" text="Approved Carrier Rates"></app-lanes-child>
            </div>

            <div class="p-col-12 p-lg-6 p-md-12">
                <app-lanes-child image="disputes.png" header="4" text="Carrier Rates in Disputes"></app-lanes-child> 
            </div>
                <div class="p-col-12 p-lg-6 p-md-12">
                    <app-lanes-child image="lanes.png" header="500" text="All My Lanes"></app-lanes-child>
                </div>
        </div>
    </div>
</div>