.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.header{
    height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 24px 19px;
    margin-bottom: 7px;
}
h3{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.p-grid{
    margin-right: 0px;
}