.pending{
    background-color: white;
    height: 135px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
}
p{
    margin-left: 8px;
    margin-top: 2px;
}
h1{
    font-weight: normal;
    font-size: 72px;
    display: flex;
    align-items: center;
    margin: 0px;
}
img{
    width: 104px;
    height: 104px;
}
.rate{
    height: 104px;
    padding-left: 13px;
    background-color: #f6f8f9;
    padding-right: 13px;
    overflow: hidden;
}