::ng-deep .p-menu{
  width: 15%;
  position: fixed;
  height: 100%;
  background-color: cadetblue;
}

@media (min-width: 300px) and (max-width: 767px) {
  ::ng-deep .p-menu{
    display: none;
  }
}



