/* You can add global styles to this file, and also import other style files */
html, body{
 // height: 100%;
  margin: 0;
  background-color:#075760;
  background-image: url('assets/pexels-aleksejs-bergmanis-681335.png');
  font-family: Roboto;
  font-style: normal;
  line-height: 25px;
}